<div class="card-deck">
  <div class="card text-white bg-primary">
    <h5 class="card-header">Pedidos Dropshipment</h5>
    <div class="card-body ventas text-center">
      <h1 class="card-title m-0">{{totalVentas}} Pedidos</h1>

    </div>
  </div>
</div>