<div class="modal-header bg-primary text-white">
    <h4 class="modal-title" id="modal-basic-title">Crear SKU</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalCreaRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="formCrear">

        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label>CODIGO SKU (10 DIGITOS)</label>
                <input type="text" class="form-control" style="text-transform: uppercase" placeholder="Ingrese Sku" formControlName="sku" [class.is-invalid]="!formCrear.get('sku').valid && formCrear.get('sku').touched" [class.is-valid]="formCrear.value.sku">              
                <div class="valid-feedback">
                  Excelente!
                </div>
                <div class="invalid-feedback">
                  Debes ingresar un nombre de sku valido!
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label>Numero Parte Proveedor</label>
                <input type="text" class="form-control" style="text-transform: uppercase" placeholder="Ingrese Numero Parte" formControlName="nparte" [class.is-invalid]="!formCrear.get('nparte').valid && formCrear.get('nparte').touched" [class.is-valid]="formCrear.value.nparte"> 
                <div class="valid-feedback">
                  Correcto!
                </div>
                <div class="invalid-feedback">
                  Debes ingresar un numero de parte valido!
                </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6 mb-3">
                <label>Stock</label>
                <input type="number"  class="form-control" placeholder="Ingrese Stock" formControlName="stock" [class.is-invalid]="!formCrear.get('stock').valid && formCrear.get('stock').touched" [class.is-valid]="formCrear.value.stock">                
                <div class="invalid-feedback">
                  Ingrese un numero.
                </div>
                <div class="valid-feedback">
                  Stock Valido!
                </div>
            </div>
          </div>                 
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="guardarDatos()" [disabled]="!formCrear.valid">Guardar</button>
</div>