<div class="modal-header bg-primary text-white">
    <h4 class="modal-title" id="modal-basic-title">Carga Masiva Desconectados</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalMasivaRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- <form [formGroup]="formMasiva">
  
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label>CODIGO SKU (10 DIGITOS)</label>
                <input type="text" class="form-control" style="text-transform: uppercase" placeholder="Ingrese Sku" formControlName="sku" [class.is-invalid]="!formMasiva.get('sku').valid && formMasiva.get('sku').touched" [class.is-valid]="formMasiva.value.sku">              
                <div class="valid-feedback">
                  Excelente!
                </div>
                <div class="invalid-feedback">
                  Debes ingresar un nombre de sku valido!
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label>Numero Parte Proveedor</label>
                <input type="text" class="form-control" style="text-transform: uppercase" placeholder="Ingrese Numero Parte" formControlName="nparte" [class.is-invalid]="!formMasiva.get('nparte').valid && formMasiva.get('nparte').touched" [class.is-valid]="formMasiva.value.nparte"> 
                <div class="valid-feedback">
                  Correcto!
                </div>
                <div class="invalid-feedback">
                  Debes ingresar un numero de parte valido!
                </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6 mb-3">
                <label>Stock</label>
                <input type="number"  class="form-control" placeholder="Ingrese Stock" formControlName="stock" [class.is-invalid]="!formMasiva.get('stock').valid && formMasiva.get('stock').touched" [class.is-valid]="formMasiva.value.stock">                
                <div class="invalid-feedback">
                  Ingrese un numero.
                </div>
                <div class="valid-feedback">
                  Stock Valido!
                </div>
            </div>
          </div>                 
    </form> -->
    <div class="shadow p-3 mb-5 bg-white rounded">
    <input type="file" style="display: inline-block;" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx">
    <button type="button" class="btn btn-info" (click)="onFileChange()" >Cargar</button>
</div>
<ng-container *ngIf="lstDesconxls.length>0" >  
    <table class="table table-hover">
        <thead class="table-primary">
            <tr >
                <th style="width:7rem">SKU</th>
                <th style="width:7rem">NPARTE</th>
                <th style="width:7rem">STOCK</th>                
            </tr>
        </thead>
        <tbody *ngIf="!lstDesconxls">
            <tr>
                <td colspan="7" class="col-xs-10" style="padding-left: 50%;">
                    <ngx-ring-loader></ngx-ring-loader>
                </td>
            </tr>
        </tbody>
    
        <tbody
            *ngFor="let articulo of lstDesconxls">
            <tr class="table-light  " class="pointer" >
                <th >{{articulo.sku}}</th>
                <th>{{articulo.nparte}}</th>
                <th>{{articulo.stock}}</th>                
            </tr>
        </tbody>
    </table>
</ng-container>


  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="guardarDatos()" [disabled]="lstDesconxls.length==0" >Guardar</button>
  </div>
