<div  *ngIf="innerWidth>1300">
    <div class="card " class="mb-4">

        <div class="card-body pl-0 pr-0 pt-0">
            <table class="table table-hover">
                <thead class="table-primary">
                    <tr>
                        <th scope="col">Rut</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Celular</th>
                        <th scope="col">Segundos</th>
                        <th scope="col">Comentario</th>
                    </tr>
                </thead>
                <tbody *ngIf="!lstLlamada">
                        <tr >
                            <td colspan="7" class="col-xs-10" style="padding-left: 50%;"><ngx-ring-loader></ngx-ring-loader></td>
    
                        </tr>
                    </tbody>
                <td colspan="5" *ngIf="lstLlamada.length==0">No tiene registro de llamadas</td>
                <tbody *ngFor="let llamada of lstLlamada | slice: pageSize | slice: 0:itemsPerPage; let i = index" >

                    <tr class="table-light">

                        <th  class="scale-up-hor-left" scope="row" style="width: 11%;">{{llamada.rut | rut}}</th>
                        <td class="scale-up-hor-left">{{llamada.nombre}}</td>
                        <td class="scale-up-hor-left">{{llamada.idllamada | date:'dd/MM/yyyy hh:mm:ss'}}</td>
                        <td class="scale-up-hor-left">{{llamada.celular}}</td>
                        <td class="scale-up-hor-left">{{llamada.segundos}}</td>
                        <td class="scale-up-hor-left">{{llamada.comentario}}</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
<div *ngIf="innerWidth<420">
    <td *ngIf="lstLlamada.length==0">No tiene registro de llamadas</td>
    <div class="card border-secondary mb-4 " *ngFor="let llamada of lstLlamada| slice: pageSize | slice: 0:itemsPerPage" style="width:100% !important">
        <div class="card-header bg-primary text-white font-weight-bold">{{llamada.rut | rut}}</div>
        <div class="card-body shadow p-3  bg-white rounded">
            <h4 class="card-title">Nombre {{llamada.nombre}}</h4>
            <div class="row">
                <div class="col-md-2">
                    <label class=" mb-0">Fecha</label><br>
                    <label class=" font-weight-bold">{{llamada.idllamada | date:'dd/MM/yyyy hh:mm:ss'}}</label>
                </div>
                <div class="col-md-2">
                    <label class=" mb-0">Celular</label><br>
                    <label class=" font-weight-bold">{{llamada.celular}}</label>
                </div>
                <div class="col-md-2">
                    <label class=" mb-0">Duración</label><br>
                    <label class=" font-weight-bold">{{llamada.segundos}}</label>
                </div>
                <div class="col-md-2">
                    <label class=" mb-0">Comentario</label><br>
                    <label class=" font-weight-bold">{{llamada.comentario}}</label>
                </div>
            </div>

        </div>
    </div>

</div>
<ngb-pagination
class="d-flex justify-content-center"
[collectionSize]="lstLlamada.length" #numPages [pageSize]="itemsPerPage" [(page)]="currentPage" (pageChange)="onPageChange(currentPage)"
  ></ngb-pagination>