<div class="card-deck">
  <div class="card text-white bg-primary">
    <h5 class="card-header">{{titulo}}</h5>
    <div class="card-body text-center " [ngClass]="{
        'llamadasC': titulo=='Pedidos en Proceso',
        'llamadasN': titulo=='Pedidos Completados'
      }">
      <h1 class="card-title m-0 ">{{totalLlamadas}} Pedidos</h1>
    </div>
  </div>
</div>