<div class="mt-4" (window:resize)="onResize($event)">
    <div class="container">
        <div class="row ">
            <div class="col-md-12 mt-4">
                <div class="shadow p-3 mb-5 bg-white rounded">
                    <h1>Resumen DropShipment</h1>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card-deck">
                                <div class="card text-white bg-primary">
                                    <h5 class="card-header">Pedidos Totales</h5>
                                    <div class="card-body text-center ">
                                        <ngx-scale-loader *ngIf="totalVentas==undefined " class="item">
                                        </ngx-scale-loader>
                                        <h1 *ngIf="totalVentas>-1" class="card-title m-0 ">{{totalVentas}} Pedidos</h1>
                                    </div>
                                </div>
                            </div>
                            <!--  <total-venta [totalVentas]="totalVentas"></total-venta> -->
                        </div>
                        <div class="col-md-4">
                            <div class="card-deck">
                                <div class="card text-white bg-primary">
                                    <h5 class="card-header">Pedidos en Proceso</h5>
                                    <div class="card-body text-center ">
                                        <ngx-scale-loader *ngIf="totalenProceso==undefined " class="item">
                                        </ngx-scale-loader>
                                        <h1 *ngIf="totalenProceso>-1" class="card-title m-0 ">{{totalenProceso}} Pedidos
                                        </h1>
                                    </div>
                                </div>
                            </div>
                            <!-- <total-llamadas titulo="Pedidos en Proceso" [totalLlamadas]="totalenProceso">
                            </total-llamadas> -->
                        </div>
                        <div class="col-md-4">
                            <div class="card-deck">
                                <div class="card text-white bg-success">
                                    <h5 class="card-header">Articulos Completos</h5>
                                    <div class="card-body text-center ">
                                        <ngx-scale-loader *ngIf="totalArtCompletos==undefined " class="item">
                                        </ngx-scale-loader>
                                        <h1 *ngIf="totalArtCompletos>-1" class="card-title m-0  ">{{totalArtCompletos}}
                                            Articulos</h1>
                                    </div>
                                </div>
                            </div>
                            <!-- <total-llamadas titulo="Pedidos Finalizados" [totalLlamadas]="totalTerminadas">
                            </total-llamadas> -->
                        </div>

                    </div>
                    <div class="mt-4 row">
                        <div class="col-md-4">
                            <div class="card-deck">
                                <div class="card text-white bg-primary">
                                    <h5 class="card-header">Pedidos Cancelados</h5>
                                    <div class="card-body text-center ">
                                        <ngx-scale-loader *ngIf="totalCanceladas==undefined " class="item">
                                        </ngx-scale-loader>
                                        <h1 *ngIf="totalCanceladas>-1" class="card-title m-0 ">{{totalCanceladas}}
                                            Pedidos</h1>
                                    </div>
                                </div>
                            </div>
                            <!--  <total-venta [totalVentas]="totalVentas"></total-venta> -->
                        </div>
                        <div class="col-md-4">
                            <div class="card-deck">
                                <div class="card text-white bg-primary">
                                    <h5 class="card-header">Pedidos Terminados</h5>
                                    <div class="card-body text-center ">
                                        <ngx-scale-loader *ngIf="totalTerminadas==undefined " class="item">
                                        </ngx-scale-loader>
                                        <h1 *ngIf="totalTerminadas>-1" class="card-title m-0 ">{{totalTerminadas}}
                                            Pedidos</h1>
                                    </div>
                                </div>
                            </div>
                            <!-- <total-llamadas titulo="Pedidos en Proceso" [totalLlamadas]="totalenProceso">
                            </total-llamadas> -->
                        </div>
                        <div class="col-md-4">
                            <div class="card-deck">
                                <div class="card text-white bg-warning">
                                    <h5 class="card-header">Articulos Incompletos</h5>
                                    <div class="card-body text-center ">
                                        <ngx-scale-loader *ngIf="totalArtIncompletos==undefined " class="item">
                                        </ngx-scale-loader>
                                        <h1 *ngIf="totalArtIncompletos>-1" class="card-title m-0 ">
                                            {{totalArtIncompletos}} Articulos</h1>
                                    </div>
                                </div>
                            </div>
                            <!-- <total-llamadas titulo="Pedidos Finalizados" [totalLlamadas]="totalTerminadas">
                            </total-llamadas> -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


      





    <!-- <div class="container" *ngIf="innerWidth<420">
        <div class="row ">
            <div (click)="detalleLlamadas(vendedor)" class="card border-secondary mb-4 "
                *ngFor="let vendedor of lstVendedores " style="width:100% !important">
                <div class="card-header bg-primary text-white font-weight-bold">{{vendedor.nombre}}</div>
                <div class="card-body shadow p-3  bg-white rounded">
                    <h4 class="card-title">Gerente Zona {{vendedor.subgerente}}</h4>
                    <div class="row">
                        <div class="col-md-2">
                            <label class=" mb-0">Tienda</label><br>
                            <label class=" font-weight-bold">{{vendedor.tienda}}</label>
                        </div>
                        <div class="col-md-2">
                            <label class=" mb-0">Asignados</label><br>
                            <label class=" font-weight-bold">{{vendedor.contactados}}</label>
                        </div>
                        <div class="col-md-2">
                            <label class=" mb-0">Intentos fallidos</label><br>
                            <label class=" font-weight-bold">{{vendedor.contactadosFallidos}}</label>
                        </div>
                        <div class="col-md-2">
                            <label class=" mb-0">Total duracion llamada</label><br>
                            <label class=" font-weight-bold">{{vendedor.minLlamadas}} seg.</label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div> -->


    <ngb-tabset justify="justified">
        <ngb-tab>
            <ng-template ngbTabTitle><b>Ordenes de Venta</b></ng-template>
            <ng-template ngbTabContent>

                <div class="mx-4 card mb-4" *ngIf="innerWidth>1300">
                    <div class="card-body shadow p-3 mb-5 bg-white rounded">
                        <div class="row mb-4">
                            <div class="col-md-3">
                                <input class="form-control mr-sm-2" type="text" placeholder="Buscar..."
                                    [(ngModel)]="textoBuscar">
                            </div>


                            <div class="col-md-7 ">
                                <form class="form-inline" [formGroup]="formFechas" (ngSubmit)="filtrarData()">
                                    <div class="form-group hidden">
                                        <div class="input-group">
                                            <input name="datepicker" class="form-control" ngbDatepicker
                                                #datepicker="ngbDatepicker" [autoClose]="'outside'"
                                                (dateSelect)="onDateSelection($event)" [displayMonths]="2"
                                                [dayTemplate]="t" outsideDays="hidden" [startDate]="fromDate">
                                            <ng-template #t let-date let-focused="focused">
                                                <span class="custom-day" [class.focused]="focused"
                                                    [class.range]="isRange(date)"
                                                    [class.faded]="isHovered(date) || isInside(date)"
                                                    (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
                                                    {{ date.day }}
                                                </span>
                                            </ng-template>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input #dpFromDate class="form-control" placeholder="yyyy-mm-dd"
                                                name="dpFromDate" [value]="formatter.format(fromDate)"
                                                formControlName="fechaInicio"
                                                (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
                                            <div class="input-group-append">
                                                <button class="btn btn-secondary calendar" (click)="datepicker.toggle()"
                                                    type="button">
                                                    <i class="far fa-calendar-alt"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group ml-2">
                                        <div class="input-group">
                                            <input #dpToDate class="form-control" placeholder="yyyy-mm-dd"
                                                name="dpToDate" [value]="formatter.format(toDate)"
                                                formControlName="fechaTermino"
                                                (input)="toDate = validateInput(toDate, dpToDate.value)">
                                            <div class="input-group-append">
                                                <button class="btn btn-secondary calendar" (click)="datepicker.toggle()"
                                                    type="button">
                                                    <i class="far fa-calendar-alt"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group ml-2">
                                        <div class="input-group">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary " type="submit"
                                                    [disabled]="!formFechas.valid">Filtrar</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group ml-2">
                                        <a href="http://192.168.210.135/PortalProveedores/OrdenDeCompras"
                                            target="_blank" class="btn btn-primary">IR A PORTAL OC PROVEEDOR</a>
                                    </div>
                                    <div class="form-group ml-2">
                                        <a href="http://192.168.210.191:90/no2quiktailhqconsole/#" target="_blank"
                                            class="btn btn-primary">IR A PORTAL PAGOS CAJA</a>
                                    </div>
                                </form>
                            </div>
                            <div class="col-2 text-right">
                                <div ngbDropdown>
                                    <button class="btn" ngbDropdownToggle>Exportar
                                        Excel</button>
                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                        <button ngbDropdownItem (click)="exportarResumen()">Resumen Global</button>
                                        <button ngbDropdownItem (click)="exportAsXLSX()">Tabla</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <table class="table table-hover">
                            <thead class="table-primary">
                                <tr *ngFor="let encabezado of lstVendedores| slice:0:1">
                                    <th>{{encabezado.strCampo1}}</th>
                                    <th>{{encabezado.strCampo2}}</th>
                                    <th>{{encabezado.strCampo3}}</th>
                                    <th>{{encabezado.strCampo4}}</th>
                                    <th>{{encabezado.strCampo5}}</th>
                                    <th>{{encabezado.strCampo6}}</th>
                                    <th>{{encabezado.strCampo7}}</th>
                                    <th>{{encabezado.strCampo8}}</th>
                                    <th>{{encabezado.strCampo9}}</th>
                                    <th>{{encabezado.intCampo1}}</th>
                                    <th>{{encabezado.intCampo2}}</th>
                                    <th>{{encabezado.intCampo3}}</th>
                                    <th>{{encabezado.intCampo4}}</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="!lstVendedores">
                                <tr>
                                    <td colspan="7" class="col-xs-10" style="padding-left: 50%;">
                                        <ngx-ring-loader></ngx-ring-loader>
                                    </td>
                                </tr>
                            </tbody>

                            <tbody *ngIf="lstVendedores">
                                <tr *ngFor="let vendedor of lstVendedores | slice: pageSize | slice: 0:itemsPerPage | filtro: textoBuscar:'strCampo1':'strCampo2':'strCampo3':'strCampo4':'strCampo5':'strCampo6':'strCampo8'"
                                    class="table-light  " class="pointer" [ngClass]="
                                {
                                    'rojo': vendedor.strCampo3 =='Cancelado',
                                    'verde': vendedor.strCampo3 =='Facturado',
                                    'azul': vendedor.strCampo3 =='Abierta',
                                    'naranjo': vendedor.strCampo3 =='Entregado'
        
                                }">
                                    <th><a href="http://replicacion.implementos.cl/apicarrodev/api/carro/documento?numero={{vendedor.strCampo1}}"
                                            target="_blank">{{vendedor.strCampo1}}</a></th>
                                    <th>{{vendedor.strCampo2}}</th>
                                    <th>{{vendedor.strCampo3}}</th>
                                    <th>{{vendedor.strCampo4}}</th>
                                    <th>{{vendedor.strCampo5}}</th>
                                    <th>{{vendedor.strCampo6}}</th>
                                    <th>{{vendedor.strCampo7}}</th>
                                    <th>{{vendedor.strCampo8}}</th>
                                    <th>{{vendedor.strCampo9}}</th>
                                    <th>{{vendedor.intCampo1}}</th>
                                    <th>{{vendedor.intCampo2}}</th>
                                    <th>{{vendedor.intCampo3 |formatoMoneda}}</th>
                                    <th>{{vendedor.intCampo4 |formatoMoneda}}</th>
                                </tr>

                            </tbody>
                        </table>
                        <div *ngIf="lstVendedores">
                            <ngb-pagination class="d-flex justify-content-center"
                                [collectionSize]="lstVendedores.length" #numPages [pageSize]="itemsPerPage"
                                [(page)]="currentPage" (pageChange)="onPageChange(currentPage)"></ngb-pagination>
                        </div>


                    </div>
                </div>

            </ng-template>
        </ngb-tab>
        <ngb-tab>
            <ng-template ngbTabTitle><b>Articulos Venta en Verde</b></ng-template>
            <ng-template ngbTabContent>
                <div class="mx-4 card mb-4" *ngIf="innerWidth>1300">
                    <div class="card-body shadow p-3 mb-5 bg-white rounded">
                        <div class="row mb-4">
                            <div class="col-md-3">
                                <input class="form-control mr-sm-2" type="text" placeholder="Busca Articulo..."
                                    [(ngModel)]="textoBuscarArticulo">
                            </div>
                        </div>
                        <table class="table table-hover">
                            <thead class="table-primary">
                                <tr *ngFor="let encabezado of lstArticulos| slice:0:1">
                                    <th style="width:7rem">{{encabezado.strCampo1}}</th>
                                    <th style="width:10rem">{{encabezado.strCampo2}}</th>
                                    <th style="width:20rem">{{encabezado.strCampo3}}</th>
                                    <th style="width:20rem">{{encabezado.strCampo4}}</th>
                                    <th style="width:10rem">{{encabezado.strCampo5}}</th>
                                    <th style="width:5rem">{{encabezado.intCampo1}}</th>
                                    <th style="width:5rem">{{encabezado.intCampo2}}</th>
                                    <th style="width:5rem">{{encabezado.intCampo3}}</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="!lstVendedores">
                                <tr>
                                    <td colspan="7" class="col-xs-10" style="padding-left: 50%;">
                                        <ngx-ring-loader></ngx-ring-loader>
                                    </td>
                                </tr>
                            </tbody>

                            <tbody
                                *ngFor="let vendedor of lstArticulos | slice: pageSizeArticulos | slice: 0:itemsPerPageArticulos | filtro: textoBuscarArticulo:'strCampo1':'strCampo2':'strCampo3':'strCampo4':'strCampo5':'intCampo1':'intCampo2'">
                                <tr class="table-light  " class="pointer" [ngClass]="
                                {
                                    'rojo': vendedor.intCampo3 < '0.00',
                                    'verde': vendedor.intCampo3 > '0.00'
                                }">
                                    <th (click)="open(content)">{{vendedor.strCampo1}}</th>
                                    <th>{{vendedor.strCampo2}}</th>
                                    <th>{{vendedor.strCampo3}}</th>
                                    <th>{{vendedor.strCampo4}}</th>
                                    <th>{{vendedor.strCampo5}}</th>
                                    <th>{{vendedor.intCampo1 |formatoMoneda}}</th>
                                    <th>{{vendedor.intCampo2 |formatoMoneda}}</th>
                                    <th>{{vendedor.intCampo3}}</th>
                                </tr>

                            </tbody>
                        </table>
                        <div *ngIf="lstArticulos">
                            <ngb-pagination class="d-flex justify-content-center"
                                [collectionSize]="lstArticulos.length" #numPages [pageSize]="itemsPerPageArticulos"
                                [(page)]="currentPageArticulos" (pageChange)="onPageChangeArticulos(currentPageArticulos)"></ngb-pagination>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab>
            <ng-template ngbTabTitle><b>Articulos Desconectados</b></ng-template>
            <ng-template ngbTabContent>

                <div class="mx-4 card mb-4" *ngIf="innerWidth>1300">
                    <div class="card-body shadow p-3 mb-5 bg-white rounded">
                        <div class="row mb-4">
                            <div class="col-md-3">
                                <input class="form-control mr-sm-2" type="text" placeholder="Buscar..."
                                    [(ngModel)]="textoBuscarDesconectado">
                            </div>


                            <div class="col-md-7 ">
                                
                                <div class="form-group ml-2">
                                    <button class="btn btn-primary" (click)="openModal('CreaSku',null)">CREAR SKU DESCONECTADO</button> 
                                    <button  class="btn btn-primary ml-4" (click)="openModal('MasivaSku',null)">CARGA MASIVA XLS</button>                                 
                                </div>                                
                            </div>
                            <div class="col-2 text-right">
                                <div ngbDropdown>
                                    <button class="btn" ngbDropdownToggle>Exportar
                                        Excel</button>
                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                        <button ngbDropdownItem (click)="exportarResumen()">Resumen Global</button>
                                        <button ngbDropdownItem (click)="exportAsXLSX()">Tabla</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <table class="table table-hover">
                            <thead class="table-primary">
                                <tr >
                                    <th style="width:7rem">SKU</th>
                                    <th style="width:7rem">NPARTE</th>
                                    <th style="width:7rem">STOCK</th>
                                    <th style="width:7rem"></th>
                                </tr>
                            </thead>
                            <tbody *ngIf="!lstArtDesconectados">
                                <tr>
                                    <td colspan="7" class="col-xs-10" style="padding-left: 50%;">
                                        <ngx-ring-loader></ngx-ring-loader>
                                    </td>
                                </tr>
                            </tbody>

                            <tbody
                                *ngFor="let articulo of lstArtDesconectados | filtro: textoBuscarDesconectado:'sku':'sku':'sku':'sku':'sku':'sku':'sku'">
                                <tr class="table-light  " class="pointer" >
                                    <th (click)="open(content)">{{articulo.sku}}</th>
                                    <th>{{articulo.nparte}}</th>
                                    <th>{{articulo.stock}}</th>                                                                        
                                    <th><button class="btn btn-warning mr-3" (click)="openModal('EditaSku',articulo)">Editar</button>  </th>
                                </tr>

                            </tbody>
                        </table>
                        <div *ngIf="lstVendedores">
                            <ngb-pagination class="d-flex justify-content-center"
                                [collectionSize]="lstVendedores.length" #numPages [pageSize]="itemsPerPage"
                                [(page)]="currentPage" (pageChange)="onPageChange(currentPage)"></ngb-pagination>
                        </div>


                    </div>
                </div>

            </ng-template>
        </ngb-tab>
        <ngb-tab>
            <ng-template ngbTabTitle><b>Otros</b></ng-template>
            <ng-template ngbTabContent>
                <p>Guardado para Otros Datos</p>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>


<ng-template #content let-modal >
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="dateOfBirth">Date of birth</label>
                <div class="input-group">
                    <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                        #dp="ngbDatepicker">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template>

<button *ngIf="false" class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>

<hr>

<ng-template #modalCrearSku>
    <!-- #modalAdd es un identificador para obtener bloque html desde el ts -->
    <app-crear-sku-desconectado [modalCreaRef]="modalCreaRef" (actualizar)="actualizarAfterEdit($event)"></app-crear-sku-desconectado>   
  </ng-template>
  <ng-template #modalEditaSku>
    <!-- #modalAdd es un identificador para obtener bloque html desde el ts -->
    <app-modificar-sku-desconectado [modalEditaRef]="modalEditaRef" [artEditar]="artEditar" (actualizar)="actualizarAfterEdit($event)"></app-modificar-sku-desconectado>
  </ng-template>
  <ng-template #modalMasivaSku>
    <!-- #modalAdd es un identificador para obtener bloque html desde el ts -->    
   <app-masiva-sku-desconectado [modalMasivaRef]="modalMasivaRef" (actualizar)="actualizarAfterEdit($event)"></app-masiva-sku-desconectado>
  </ng-template>